.container {
    margin: 0 auto;
    width: 90%;
    max-width: 73.125rem;
}

.section {
    position: relative;

    &.py-80 {
        padding: 5rem 0;
    }

    &.py-120 {
        padding: 7.5rem 0;
    }

    &.py-160 {
        padding: 10rem 0;
    }

}