// ********************
//  CONTAINERS
// ********************

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 73.125rem;

    &.is-small {
        max-width: 65ch;
    }

}


// ********************
//  SECTIONS
// ********************

.section {
    position: relative;

    &.py-80 {
        padding: 2.5rem 0;

        @include breakpointsUp(medium) {
            padding: 5rem 0;
        }

    }

    &.py-120 {
        padding: 3.75rem 0;

        @include breakpointsUp(medium) {
            padding: 7.5rem 0;
        }

    }

    &.py-160 {
        padding: 5rem 0;

        @include breakpointsUp(medium) {
            padding: 10rem 0;
        }

    }

}

// ********************
//  FLEX
// ********************

// FLEX ROWS
.flex-row {

    &.start {
        @include flexRow(flex-start, center);
    }

    &.center {
        @include flexRow(center, center);
    }

    &.end {
        @include flexRow(flex-end, center);
    }

    &.between {
        @include flexRow(space-between, center);
    }

}

// FLEX COLUMNS
.flex-col {

    &.start {
        @include flexColumn(center, flex-start);
    }

    &.center {
        @include flexColumn(center, center);
    }

    &.end {
        @include flexColumn(flex-end, center);
    }

    &.between {
        @include flexColumn(center, space-between);
    }

}

.wrap {
    flex-wrap: wrap;
}

// ********************
// GRID
// ********************

.grid-cols-2 {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, min-content));

    @include breakpointsUp(large) {
        grid-template-rows: none;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

.grid-cols-3 {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));

    @include breakpointsUp(large) {
        grid-template-rows: none;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}

.grid-cols-4 {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));

    @include breakpointsUp(large) {
        grid-template-rows: none;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}

.grid-cols-6 {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include breakpointsUp(large) {
        grid-template-rows: none;
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

}

.place-items-center {
    place-items: center;
}

.grid-auto-cols {
    display: grid;
    grid-auto-rows: auto;

    @include breakpointsUp(large) {
        grid-auto-rows: unset;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

.reversed {
    :first-child {
        order: 2;
    }
    :last-child {
        order: 1;
    }

    @include breakpointsUp(large) {
        :first-child {
            order: 1;
        }
        :last-child {
            order: 2;
        }
    }
}

// ********************
// GRID GAPS
// ********************

.gap-30 {
    gap: 1rem;

    @include breakpointsUp(large) {
        gap: 1.875rem;
    }

}

.gap-60 {
    gap: 1.875rem;

    @include breakpointsUp(large) {
        gap: 3.75rem;
    }

}

.gap-120 {
    gap: 3.75rem;

    @include breakpointsUp(large) {
        gap: 7.5rem;
    }

}