#modal {
    position: fixed;
    right: 2.5%; bottom: 2.5%; left: 2.5%;
    width: 90%;
    max-width: 30rem;
    border: 2px solid $white;
    border-radius: 0.25rem;
    background-color: $gray-900;
    text-align: center;
    transform: translateX(-50vw);
    opacity: 0.5;
    visibility: hidden;
    font-size: 0.875rem;
    line-height: 1.25rem;
    @include flexColumn(center, center);

    @include breakpointsUp(medium) {
        left: unset;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    @include breakpointsUp(medium) {

        > * {
            height: 50%;
            width: 100%;
        }

    }

    .modal__bottom {
        padding: 1.25rem;

        @include breakpointsUp(medium) {
            padding: 2.5rem;
        }

    }

    a {
        color: $blue-400;
    }

}

#close {
    display: grid;
    place-items: center;
    position: absolute;
    top: -2.5%; right: -2.5%;
    width: 2.5rem; height: 2.5rem;
    background-color: $white;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes showModal {
    from {
        transform: translateX(50vw);
        opacity: 0.5;
        visibility: hidden;
    }

    to {
        transform: translateX(0);
        opacity: 1.0;
        visibility: visible;
    }

}

#modal.is-revealed {
    animation: showModal 0.3s forwards;
}