body {
    font-family: 'Agency FB', sans-serif;
    color: $gray-100;
}

// ********************
// FONT SIZE VARIABLES
// ********************

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.uppercase {
    text-transform: uppercase;
}

// ********************
// PROSE
// ********************

.prose {
    max-width: 65ch;
    font-size: 1rem;
    line-height: 1.75;

    h2 {
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3;
    }

    h2 + * {
        margin-top: 0;
    }

    h3 {
        font-size: 1.25em;
        margin-top: 1.6em;
        margin-bottom: 0.6em;
        line-height: 1.6;
    }

    h3 + * {
        margin-top: 0;
    }

    h4 {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        line-height: 1.5;
    }

    h4 + * {
        margin-top: 0;
    }

    p {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    img, figure {
        width: 50%;
        margin: 0 auto;
    }

}