// ********************
// COLORS
// ********************

// BRAND COLORS
$blue-400: #3176AA; // decorations
$red-400: #7D0100; // decorations
$orange-400: #FF9C00; // highlights

// NEUTRALS
$black: #000000;
$white: #ffffff;

$gray-900: #181818; // background
$gray-100: #fefefe; // text

