// ********************
// FLEXBOX
// ********************

// FLEX ROWS
@mixin flexRow($justify, $align: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

// FLEX COLUMNS
@mixin flexColumn($justify: center, $align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}