<div id="modal" class="shadow-2xl mx-auto">
    <div id="close">
        <img src="/img/x.svg" alt="">
    </div>
    <img src="/img/field-op.webp" alt="">
    <div class="modal__bottom">
        <h2 class="text-3xl mb-20">Become a Field Operative!</h2>
        <p class="text-xl mb-40">As a field operative, you will receive exclusive concept art and compositions from the C.O.W. soundtrack as well as insider access about the development of Creatures Of War.</p>
        <form class="fop__form mb-40" method="POST" action="https://c23ef8a2.sibforms.com/serve/MUIEAPg2I_V6DpEpZdk3h4CEjWe9AaIZzQ3Ps7_rFI5u2mWRKsuLhecbr0z5SCOud19UPuh1fUXowdx3FhQ6A6ROhJdZ2fchnK97JGQORyTKwK-aqwcsGlK56onfMVrZZP_RA2PGkpgA9GxMtQeKbFqt67zc5fuDJr4XtmyV2EC4GfN4qTIA0XnqoWGYb6OuDiWAXiW_MFVxyGhj">
            <input id="EMAIL" type="email" placeholder="Enter Your Email Here">
            <input type="hidden" name="locale" value="en">
            <input type="hidden" name="html_type" value="simple">
        </form>
        <div>
            <p class="text-sm">By becoming a Field Operative, you agree to our Privacy Policy (<a href="/privacy-policy">that you can read here</a>).</p>
        </div>
    </div>
</div>
