<div id="modal" class="shadow-2xl mx-auto">
    <div id="close">
        <img src="/img/x.svg" alt="">
    </div>
    <img src="/img/field-op.webp" alt="">
    <div class="modal__bottom">
        <h2 class="text-3xl mb-20">Become a Field Operative!</h2>
        <p class="text-xl mb-40">As a Field Operative of Creatures Of War, you will get access to exclusive content about the development of C.O.W.</p>
        <form action="" class="fop__form mb-40">
            <input type="email" placeholder="Enter Your Email Here">
        </form>
        <div>
            <p class="text-sm">By becoming a Field Operative, you agree to our Privacy Policy (<a href="/">that you can read here</a>).</p>
        </div>
    </div>
</div>
