<header aria-roledescription="header" id="header--list">
    <nav class="navigation border-b">
        <div class="container">
            <div class="flex-row between">
                <a href="/" class="text-2xl hidden-for-mobile">Home</a>
                <a href="/" class="text-4xl">Devlog</a>
                <a href="/press-kit" class="text-2xl hidden-for-mobile">Press Kit</a>
                <div class="navigation__mobile hidden-for-desktop" x-data="{ open: false }">
                    <button @click="open = !open" class="flex-col center">
                        <img src="/img/hamburger.svg" alt="Mobile menu icon" class="hamburger">
                    </button>
                    <div class="navigation__overlay" x-show="open" @click.away="open = false">
                        <button @click="open = !open" class="flex-col center">
                            <img src="/img/x.svg" alt="Mobile menu close icon" class="close" x-show="open">
                        </button>
                        <div class="navigation__menu"> 
                            <a href="/" class="text-4xl">Home</a>
                            <a href="/devlog" class="text-4xl">Devlog</a>
                            <a href="/press-kit" class="text-4xl">Press Kit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>