<header aria-roledescription="header" id="sidebar">
    <nav class="sidebar">
        <div class="container">
            <div class="sidebar__wrapper">
                <div class="sidebar__menu">
                    <a href="/" class="text-4xl">Creatures of War</a>
                    <div class=" sidebar__links hidden-for-mobile">
                        <a href="press-kit/#about" class="text-2xl mb-10">About C.O.W.</a>
                        <a href="press-kit/#features" class="text-2xl mb-10">Features</a>
                        <a href="press-kit/#images" class="text-2xl mb-10">Images</a>
                        <a href="press-kit/#videos" class="text-2xl mb-10 hidden">Videos</a>
                        <a href="press-kit/#logo" class="text-2xl mb-10">Logo</a>
                        <a href="press-kit/#contact" class="text-2xl mb-10">Contact</a>
                        <a href="press-kit/#developers" class="text-2xl mb-10">The Developers</a>
                        <a href="press-kit/#social" class="text-2xl mb-10">Social Media</a>
                    </div>
                    <div class="navigation__mobile hidden-for-desktop" x-data="{ open: false }">
                        <button @click="open = !open" class="flex-col center">
                            <img src="/img/hamburger.svg" alt="Mobile menu icon" class="hamburger">
                        </button>
                        <div class="navigation__overlay" x-show="open" @click.away="open = false">
                            <button @click="open = !open" class="flex-col center">
                                <img src="/img/x.svg" alt="Mobile menu close icon" class="close" x-show="open">
                            </button>
                            <div class="navigation__menu"> 
                                <a href="/" class="text-4xl">Home</a>
                                <a href="/devlog" class="text-4xl">Devlog</a>
                                <a href="/press-kit" class="text-4xl">Press Kit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>