{{ define "main" }}

    <div class="hero__features__wrapper">
        <!-- HERO SECTION -->
        <section id="hero" class="section py-160">
            <div class="container h-full">
                <div class="flex-col end h-full">
                    <div class="hero__wrapper">
                        <a href="https://discord.gg/u6E9Ec2" target="_blank" class="hero__discord shadow-xl">
                            <img src="/img/discord-logo.svg" alt="Discord logo" class="logo mr-32">
                            <p class="text-4xl">Join our <br/> Discord</p>
                        </a>
                        <a href="#fop" class="hero__fop shadow-xl">
                            <p class="text-4xl">Join The Field <br/> Operation Initiative!</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- FEATURES SECTION -->
        <section id="features" class="section py-120">
            <div class="container">
                <div class="text-center mx-auto mb-80">
                    <h2 class="text-5xl underline">Dive Into the Unknown</h2>
                </div>
                <div id="feature1" class="grid-cols-2 gap-120 mb-80">
                    <div class="features__left">
                        <h3 class="text-4xl mb-40 underline-left">Unravel the horrific truth behind Ko'Verest Island</h3>
                        <p class="text-2xl">Across the islands luscious landscape lies an expansive network of abandoned buildings. You have been sent in to investigate the island as well as the disappearance of Delta squad. As the fierce combat operative Mike Ludwig, it is up to you to uncover the tragic events that took place and to conquer its evils.</p>
                    </div>
                    <div class="features__image">
                        <img class="features__image--cave" src="/img/cave.webp" alt="An image of a man standing in a cave.">
                        <img class="features__image--lift" src="/img/lift.webp" alt="An image of a man shooting dinosaurs in the snow.">
                    </div>
                </div>
                <div id="feature2" class="grid-cols-2 reversed gap-120 mb-80">
                    <div class="features__image">
                        <img src="/img/scope.webp" alt="An image of a dinosaur viewed through a scope.">
                    </div>
                    <div class="features__right">
                        <h3 class="text-4xl mb-40 underline-left">Unleash Your Arsenal</h3>
                        <p class="text-2xl mb-20">Creatures Of War is a challenging 2D action-horror game. Monstrosities big and small are going to want a piece of you. Upgrade your guns, healing flask, and equip your grenades, its times to find Delta squad.</p>
                        <ul>
                            <li class="text-xl mb-10">Intense action accompanied by the chilling threat of a brutal death lurking around every corner.</li>
                            <li class="text-xl mb-10">Gain access to the latest generation of grenades, tactically control the flow of battle, giving you the upper hand.</li>
                            <li class="text-xl">Collect treasures and money to fund weapon upgrades that will tear down even the biggest enemies.</li>
                        </ul>
                    </div>
                </div>
                <div id="feature3" class="grid-cols-2 gap-120 mb-80">
                    <div class="features__left">
                        <h3 class="text-4xl mb-40 underline-left">Breathtaking Hand-Drawn Art</h3>
                        <p class="text-2xl mb-10">Creatures Of War is given life in strikingly grisly detail, the island is brought to life with prehistoric and terrifying creatures, all animated to masterful perfection.</p>
                        <p class="text-2xl">Every biome that you'll visit is ruggedly unique and tough, bursting with new creatures and secrets to uncover. But Be Warned: Some secrets are better off left alone.</p>
                    </div>
                    <div class="features__image">
                        <img src="/img/island.webp" alt="An image of Ko'Verest Island">
                    </div>
                </div>
                <div id="feature4" class="grid-cols-2 reversed gap-120">
                    <div class="features__image">
                        <img src="/img/weapons.webp" alt="An image of guns on a table.">
                    </div>
                    <div class="features__right">
                        <h3 class="text-4xl mb-40 underline-left">Diversify Your Weapon Collection</h3>
                        <p class="text-2xl">There are many different types of guns in Creatures Of War. Guns that will fit into nearly any playstyle. If you prefer to kill from a distance, equip a bolt action rifle, feel the need to get up close and personal? The shotgun has you covered. Each weapon type will have distinct characteristics from its peers of the same weapon subclass, each gun is unique, no choice is wrong.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- VALUES SECTION -->
        <section id="values" class="section py-120">
            <div class="container">
                <div class="text-center mx-auto mb-80">
                    <h2 class="text-5xl mb-40 underline">Creatures Of War's Core Values</h2>
                    <p class="text-xl">These core values are the lifeblood of this game's development.</p>
                </div>
                <div class="values__wrapper">
                    <div class="values__col text-center">
                        <h3 class="text-2xl mb-40 underline">Combat</h3>
                        <p class="text-lg">Painstakingly balanced combat focusing on ultra responsive controls, shockingly intelligent ai and tactical decision making. We aim to create stellar 2D combat through iterative and community based feedback.</p>
                    </div>
                    <div class="values__col text-center">
                        <h3 class="text-2xl mb-40 underline">Aggression</h3>
                        <p class="text-lg">Opportunities exist to create dynamic and engaging worlds when such evil lurks around every corner. Will you cower in fear, or stand on your own two legs?</p>
                    </div>
                    <div class="values__col text-center">
                        <h3 class="text-2xl mb-40 underline">Alive</h3>
                        <p class="text-lg">When bringing a world to life you need music and sound effects that resonate with the environments you are exploring. We have hand crafted every SFX and musical note you hear to deliver results that will bring every territory you explore to life.</p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="wishlist__social__wrapper">

        <!-- MIKE LUDWIG SECTION -->
        <section id="ludwig" class="section py-120">
            <div class="container">
                <h2 class="text-5xl text-center mb-40">Mike Ludwig</h2>
                <img src="/img/mike-ludwig.webp" alt="/" class="mb-40">
                <p class="ludwig__copy text-xl text-center">Charlie teams tactical expert, he is trained to deliver results in the most extreme circumstances. Proficient with all types of firearms, Mike is very resourceful and if need be is not afraid to run away from a losing conflict. He was assigned this mission for a reason, he can get the job done.</p>
            </div>
        </section>

        <!-- TABBED SECTION -->
        <section id="tabs" class="section py-120">
            <div class="container">
                <h2 class="text-5xl text-center mb-40">Bio Organic Weapons</h2>
                <p class="text-3xl text-center mb-40">Satellite Images have revealed these creatures to us, we need to find out what else resides on Ko'Vorest Island.</p>
                <div class="tabs__wrapper mx-auto" x-data="{ tab: 'amargonyx' }">
                    <nav class="tabs__navigation mb-80">
                        <a href="#" :class="{ 'active': tab === 'amargonyx' }" @click.prevent="tab = 'amargonyx'">
                            <div class="tabs__amargonyx mb-10"></div>
                            <p class="text-center">Amargonyx</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 't-rex' }" @click.prevent="tab = 't-rex'">
                            <div class="tabs__t-rex mb-10"></div>
                            <p class="text-center">T-Rex</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 'bulletwolf' }" @click.prevent="tab = 'bulletwolf'">
                            <div class="tabs__bulletwolf mb-10"></div>
                            <p class="text-center">Bulletwolf</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 'utah' }" @click.prevent="tab = 'utah'">
                            <div class="tabs__utah mb-10"></div>
                            <p class="text-center">Utah</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 'hornoraptor' }" @click.prevent="tab = 'hornoraptor'">
                            <div class="tabs__hornoraptor mb-10"></div>
                            <p class="text-center">Hornoraptor</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 'procompsognathus' }" @click.prevent="tab = 'procompsognathus'">
                            <div class="tabs__procompsognathus mb-10"></div>
                            <p class="text-center">Procompsognathus</p>
                        </a>
                        <a href="#" :class="{ 'active': tab === 'procompsognathus' }" @click.prevent="tab = 'spider'">
                            <div class="tabs__spider mb-10"></div>
                            <p class="text-center">Spitting Spider</p>
                        </a>
                    </nav>
                    <div class="tabs__content" x-show="tab === 'amargonyx'">
                        <div class="tabs__img--amargonyx mb-40"></div>
                        <p class="text-xl text-center">The Amargonyx is the result of genetic tampering between an Allosaurus and a Titanosaur. The alarming size of this creature makes their hides extremely thick, making them all the harder to kill. They are very ill tempered creatures and will hunt their prey to the death after being provoked. Their long necks allow for crushing blows to take place from unsuspecting distances.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 't-rex'">
                        <div class="tabs__img--trex mb-40"></div>
                        <p class="text-xl text-center">The biggest and baddest dinosaur on the island, at least at first. The T-Rex is the epitome of power and death. One swift bite is capable of ripping its victims to shreds. The typical reaction is to run, but recent testing has shown that the T-Rex can vastly outrun any human. It is highly advisable to proceed with caution if a T-Rex is thought to be in the area.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 'bulletwolf'">
                        <div class="tabs__img--bulletwolf mb-40"></div>
                        <p class="text-xl text-center">The Bulletwolf Ant Queen has only been known to inhabit the deepest and warmest chambers of their bulletwolf ant farms. They lay eggs at an alarming rate and have voracious appetites that never slow down. The worst part about them is they don't do the hunting and their combat capabilities are largely unknown.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 'utah'">
                        <div class="tabs__img--utah mb-40"></div>
                        <p class="text-xl text-center">The Utah Raptor is the velociraptor's big older brother, as they are taller, heftier, and wield longer claws. These factors alone make this an intimidating foe all by themselves, but of course the Utah Raptor happens to be a pack hunter.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 'hornoraptor'">
                        <div class="tabs__img--hornoraptor mb-40"></div>
                        <p class="text-xl text-center">Death from above and below. The Giant Asian Hornoraptor delivers a sting equally painful as it is poisonous. The victims are consumed on site. Long claws, viscious teeth, and that harrowing sound when one is flying in the air will send chills down your spine.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 'procompsognathus'">
                        <div class="tabs__img--procompsognathus mb-40"></div>
                        <p class="text-xl text-center">Quick and small, pack hunter, slightly venomous, and surprisingly aggressive. The procompsognathus does not have the hides or the offensive capabilities of other creatures on Ko'Vorest island, but what it lacks in lethality is made up in numbers. If you encounter one of these creatures, expect the entire family.</p>
                    </div>
                    <div class="tabs__content text-center" x-show="tab === 'spider'">
                        <div class="tabs__img--spider mb-40"></div>
                        <p class="text-xl text-center">The Gigantus Wandering Spitting Spider has been genetically engineered from two genus of arachnids to create the ultimate spider. Crippling poison, engulfing webs shot from distance, and a fang size that can serrate any flesh it encounters briefly describes this creature's terrifying capabilities.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOP SECTION -->
        <section id="fop" class="section py-120">
            <div id="fop-anchor"></div>
            <div class="container">
                <div class="fop__wrapper">
                    <div class="fop__left">
                        <div class="mb-40">
                            <h2 class="text-4xl uppercase mb-40">Field Operative Program</h2>
                            <p class="text-xl">As a field operative, you will receive exclusive concept art and compositions from the C.O.W. soundtrack as well as insider access about the development of Creatures Of War.</p>
                        </div>
                        <!-- Begin Sendinblue Form -->
                        <!-- START - We recommend to place the below code where you want the form in your website html  -->
                        <div class="sib-form mb-40">
                            <div id="sib-form-container" class="sib-form-container">
                                <div id="error-message" class="sib-form-message-panel">
                                    <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                                        <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon is-hidden">
                                            <path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z" />
                                          </svg>
                                          <span class="sib-form-message-panel__inner-text">Your subscription could not be saved. Please try again.</span>
                                    </div>
                                </div>
                                <div id="success-message" class="sib-form-message-panel">
                                    <div class="sib-form-message-panel__text sib-form-message-panel__text--center">
                                      <svg viewBox="0 0 512 512" class="sib-icon sib-notification__icon is-hidden">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z" />
                                      </svg>
                                      <span class="sib-form-message-panel__inner-text">Your subscription has been successful.</span>
                                    </div>
                                </div>
                                <div id="sib-container" class="sib-container--large sib-container--vertical">
                                    <form id="sib-form" class="fop__form" method="POST" action="https://c23ef8a2.sibforms.com/serve/MUIEAH0VpauvuLzv9DvebiNNmcFnbMuHYabHk3EC0Y2Le5J5Lr160C3MHWvSgZUiNukCOjbxUOg5AkuJ1WUv2KhYdb2A3N9ycAax5slE74GgbQn_iYcGVWnSkhvNQNaZyz5UFZ0Lpow82tPLTIl3EiTVKJcehGOjA-vKMEomNFY8FKj-SNXir83YZTNJ5QAEJYk5JD2a9eJGO_w4" data-type="subscription">
                                        <div class="sib-input__wrapper mb-20">
                                            <div class="sib-input sib-form-block">
                                                <div class="form__entry entry_block">
                                                    <div class="form__label-row">
                                                        <div class="entry__field">
                                                            <input class="input" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                                                        </div>
                                                    </div>
                                                    <label class="entry__error entry__error--primary"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <button id="fop__submit" class="sib-form-block__button sib-form-block__button-with-loader is-full" form="sib-form" type="submit">
                                            <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon is-hidden" viewBox="0 0 512 512">
                                            <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                                            </svg>
                                            Subscribe
                                        </button>
                                        <input type="text" name="email_address_check" value="" class="input--hidden">
                                        <input type="hidden" name="locale" value="en">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END - We recommend to place the below code where you want the form in your website html  -->
                        
                        <!-- START - We recommend to place the below code in footer or bottom of your website html  -->
                        
                        
                        
                        <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
                        <!-- End Sendinblue Form -->

                        <div>
                            <h3 class="text-2xl mb-10">Become a Field Operative!</h3>
                            <p class="text-sm">By becoming a Field Operative, you agree to our Privacy Policy (<a href="/privacy-policy">that you can read here</a>).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- WISHLIST SECTION -->
        <section id="wishlist" class="section py-120">
            <div class="container">
                <h2 class="text-5xl text-center mb-40">Wishlist on Steam!</h2>
                <div class="wishlist__wrapper flex-row center">
                    <a href="/" class="wishlist__col text-center hidden">
                        <h3 class="text-3xl mb-40">Epic Games Store</h3>
                        <img src="/img/epic-games-logo.svg" alt="Epic Games logo" class="logo">
                    </a>
                    <a href="/" class="wishlist__col text-center">
                        <!-- <h3 class="text-3xl mb-40">Steam</h3> -->
                        <img src="/img/steam-logo.svg" alt="Steam logo" class="logo">
                    </a>
                    <a href="/" class="wishlist__col text-center hidden">
                        <h3 class="text-3xl mb-40">Humble-Bundle</h3>
                        <img src="/img/humble-bundle-logo.svg" alt="Humble Bundle logo" class="logo">
                    </a>
                </div>
            </div>
        </section>

        <!-- SOCIAL SECTION -->
        <section id="social" class="section py-120">
            <div class="container">
                <div class="social-container">
                    <p class="social__copy text-center">Courageously follow us<br>on social media</p>
                    <ul class="circle-container">
                        <li>
                            <a href="https://discord.gg/u6E9Ec2" target="_blank">
                                <img src="/img/discord-logo-purple.svg" alt="Discord logo">
                            </a> 
                        </li>
                        <li>
                            <a href="https://www.instagram.com/gamerdevtim/" target="_blank">
                                <img src="/img/instagram-logo.svg" alt="Instagram logo">
                            </a> 
                        </li>
                        <li>
                            <a href="https://twitter.com/creatures_ofwar" target="_blank">
                                <img src="/img/twitter-logo.svg" alt="Twitter logo">
                            </a> 
                        </li>
                        <li>
                            <a href="https://vm.tiktok.com/ZMR6URRXq/" target="_blank">
                                <img src="/img/tiktok-logo.svg" alt="TikTok logo">
                            </a> 
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCHkTbsExwVcYOOjE4D9o2yQ" target="_blank">
                                <img src="/img/youtube-logo.svg" alt="YouTube logo">
                            </a> 
                        </li>
                        <li>
                            <a href="https://www.reddit.com/r/CreaturesOfWar/" target="_blank">
                                <img src="/img/reddit-logo.svg" alt="Reddit logo">
                            </a> 
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="devlog__info__wrapper">
        <!-- DEVLOG SECTION -->
        <section id="devlog" class="section py-120">
            <div class="container">
                <h2 class="text-5xl text-center mb-40">Devlog</h2>
                <div class="devlog__featured__wrapper mb-80">
                    {{ range first 1 ( where ( where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
                    <a href="/devlog/#{{ .Params.slug }}" class="devlog__featured flex-row between">
                        {{ with .Params.image }}
                        <img src="/" alt="">
                        {{ end }}
                        <div class="devlog__featured__right">
                            <h3 class="text-3xl mb-10">{{ .Title }}</h3>
                            <p>{{ .Summary }}</p>
                        </div>
                    </a>
                    {{ end }}
                    <div class="devlog__recent">
                        {{ range first 4 ( where ( where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" false) }}
                        <a href="/devlog/#{{ .Params.slug }}" class="devlog__recent__post">
                            {{ with .Params.image }}
                            <img src="" alt="">
                            {{ end }}
                            <div class="devlog__recent__bottom">
                                <h4 class="text-2xl">{{ .Title }}</h4>
                                <p> {{ .Summary }}</p>
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </div>
                <div class="flex-row center">
                    <a href="/devlog" class="btn btn--large">Full Devlog</a>
                </div>
            </div>
        </section>

        <!-- INFO SECTION -->
        <section id="info" class="section py-120">
            <div class="container">
                <h2 class="text-4xl text-center mb-20">Creatures Of War</h2>
                <p class="text-2xl text-center mb-40">Wishlist on Steam</p>
                <div class="info__wrapper flex-row center mb-80">
                    <a href="/" class="info__col text-center hidden">
                        <h3 class="text-xl mb-40">Epic Games Store</h3>
                        <img src="/img/epic-games-logo.svg" alt="Epic Games logo" class="logo">
                    </a>
                    <a href="/" class="info__col text-center">
                        <!-- <h3 class="text-xl mb-40">Steam</h3> -->
                        <img src="/img/steam-logo.svg" alt="Steam logo" class="logo">
                    </a>
                    <a href="/" class="info__col text-center hidden">
                        <h3 class="text-xl mb-40">Humble-Bundle</h3>
                        <img src="/img/humble-bundle-logo.svg" alt="Humble Bundle logo" class="logo">
                    </a>
                </div>
                <p class="text-base text-center mb-40">Genre: Survival Horror Approximate RD: Spring 2023</p>
                <p class="text-base text-center mb-40">Players: 1 Rating: Not Yet Rated</p>
                <div class="social__grid">
                    <a href="https://www.youtube.com/channel/UCHkTbsExwVcYOOjE4D9o2yQ" target="_blank">
                        <img src="/img/youtube-logo.svg" alt="YouTube logo" class="logo--small">
                    </a>
                    <a href="https://twitter.com/creatures_ofwar" target="_blank">
                        <img src="/img/twitter-logo.svg" alt="Twitter logo" class="logo--small">
                    </a>
                    <a href="https://www.reddit.com/r/CreaturesOfWar/" target="_blank">
                        <img src="/img/reddit-logo.svg" alt="Reddit logo" class="logo--small">
                    </a>
                    <a href="https://discord.gg/u6E9Ec2" target="_blank">
                        <img src="/img/discord-logo-purple.svg" alt="Discord logo" class="logo--small">
                    </a>
                    <a href="https://www.instagram.com/gamerdevtim/" target="_blank">
                        <img src="/img/instagram-logo.svg" alt="Instagram logo" class="logo--small">
                    </a>
                    <a href="https://vm.tiktok.com/ZMR6URRXq/" target="_blank">
                        <img src="/img/tiktok-logo.svg" alt="TikTok logo" class="logo--small">
                    </a>
                </div>
            </div>
        </section>
    </div>

    

    <!-- FOP MODAL -->
    {{ partial "modal.html" . }}

{{ end }}
