{{ define "main" }}

    <!-- HERO SECTION -->
    <section id="hero" class="section py-160">
        <div class="container h-full">
            <div class="flex-col end h-full">
                <div class="hero__wrapper">
                    <a href="https://discord.com" class="hero__discord shadow-xl">
                        <img src="/img/discord-logo.svg" alt="Discord logo" class="logo mr-16">
                        <p class="text-4xl">Join our <br/> Discord</p>
                    </a>
                    <a href="#fop" class="hero__fop shadow-xl">
                        <p class="text-4xl">Join The Field <br/> Operation Initiative!</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- FEATURES SECTION -->
    <section id="features" class="section py-120">
        <div class="container">
            <div class="text-center mx-auto mb-120">
                <h2 class="text-5xl underline">Dive Into the Unknown</h2>
            </div>
            <div id="feature1" class="flex-row between mb-40">
                <div class="features__left">
                    <h3 class="text-4xl mb-20">Unravel the horrific truth behind Ko'Verest Island</h3>
                    <p class="text-2xl">Across the islands luscious landscape lies an expansive network of abandoned buildings. You have been sent in to investigate the island as well as the disappearance of Delta squad. As the fierce combat operative Mike Ludwig, it is up to you to uncover the tragic events that took place and to conquer its evils.</p>
                </div>
                <div class="features__image">

                </div>
            </div>
            <div id="feature2" class="flex-row between mt-120 mb-40">
                <div class="features__image">
                    
                </div>
                <div class="features__right">
                    <h3 class="text-4xl mb-20">Unleash Your Arsenal</h3>
                    <p class="text-2xl mb-20">Creatures Of War is a challenging 2D action-horror game. Monstrosities big and small are going to want a piece of you. Upgrade your guns, healing flask, and equip your grenades, its times to find Delta squad.</p>
                    <ul>
                        <li class="text-xl mb-10">Intense action accompanied by the chilling threat of a brutal death lurking around every corner.</li>
                        <li class="text-xl mb-10">Gain access to the latest generation of grenades, tactically control the flow of battle, giving you the upper hand.</li>
                        <li class="text-xl mb-10">Collect treasures and money to fund weapon upgrades that will tear down even the biggest enemies.</li>
                    </ul>
                </div>
            </div>
            <div id="feature3" class="flex-row between mt-120 mb-40">
                <div class="features__left">
                    <h3 class="text-4xl mb-20">Breathtaking Hand-Drawn Art</h3>
                    <p class="text-2xl mb-10">Creatures Of War is given life in strikingly grisly detail, the island is brought to life with prehistoric and terrifying creatures, all animated to masterful perfection.</p>
                    <p class="text-2xl">Every biome that you'll visit is ruggedly unique and tough, bursting with new creatures and secrets to uncover. But Be Warned: Some secrets are better off left alone.</p>
                </div>
                <div class="features__image">

                </div>
            </div>
            <div id="feature4" class="flex-row between mt-120 mb-40">
                <div class="features__image">
                    
                </div>
                <div class="features__right">
                    <h3 class="text-4xl mb-20">Diversify Your Weapon Collection</h3>
                    <p class="text-2xl mb-20">There are many different types of guns in Creatures Of War. Guns that will fit into nearly any playstyle. If you prefer to kill from a distance, equip a bolt action rifle, feel the need to get up close and personal? The shotgun has you covered. Each weapon type will have distinct characteristics from its peers of the same weapon subclass, each gun is unique, no choice is wrong.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- VALUES SECTION -->
    <section id="values" class="section py-120">
        <div class="container">
            <div class="text-center mx-auto mb-120">
                <h2 class="text-5xl mb-40 underline">Creatures Of Wars Core Values</h2>
                <p>These core values are the lifeblood of this game's development.</p>
            </div>
            <div class="values__wrapper">
                <div class="values__col text-center">
                    <h3 class="text-2xl mb-40 underline">Resident</h3>
                    <p>Consumers of the survival horror community know how hard it can be to balance the two together. Resident Evil 4 got it right. We aim to build upon the foundation of what is already great.</p>
                </div>
                <div class="values__col text-center">
                    <h3 class="text-2xl mb-40 underline">Evil</h3>
                    <p>Opportunities exist to create dynamic and engaging worlds when such evil lurks around every corner. Will you cower in fear, or stand on your own two legs?</p>
                </div>
                <div class="values__col text-center">
                    <h3 class="text-2xl mb-40 underline">4 - Like</h3>
                    <p>Limited ammunition and health supplies meet intense combat and tight controls. Survival horror was never the same again.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- MIKE LUDWIG SECTION -->
    <section id="ludwig" class="section py-120">
        <div class="container">
            <h2 class="text-5xl text-center mb-10">Mike Ludwig</h2>
            <img src="/" alt="/" class="mb-20">
            <p class="text-center">Charlie teams tactical expert, he is trained to deliver results in the most extreme circumstances. Proficient with all types of firearms, Mike is very resourceful and if need be is not afraid to run away from a losing conflict. He was assigned this mission for a reason, he can get the job done.</p>
        </div>
    </section>

    <!-- TABBED SECTION -->
    <section id="tabs" class="section py-120">
        <div class="container">
            <h2 class="text-5xl text-center mb-10">Bio Organic Weapons</h2>
            <p class="text-3xl text-center">Satellite Images have revealed these creatures to us, we need to find out what else resides on Ko'Vorest Island.</p>
            <div class="tabs__wrapper mx-auto" x-data="{ tab: 'amargonyx' }">
                <nav class="tabs__navigation">
                    <a href="#" :class="{ 'active': tab === 'amargonyx' }" @click.prevent="tab = 'amargonyx'">Amargonyx</a>
                    <a href="#" :class="{ 'active': tab === 't-rex' }" @click.prevent="tab = 't-rex'">T-Rex</a>
                    <a href="#" :class="{ 'active': tab === 'bulletwolf' }" @click.prevent="tab = 'bulletwolf'">Bulletwolf</a>
                    <a href="#" :class="{ 'active': tab === 'utah' }" @click.prevent="tab = 'utah'">Utah</a>
                </nav>
                <div class="tabs__content" x-show="tab === 'amargonyx'">
                    <p class="text-center">The Amargonyx is the result of genetic tampering between an Allosaurus and a Titanosaur. The alarming size of this creature makes their hides extremely thick, making them all the harder to kill. They are very ill tempered creatures and will hunt their prey to the death after being provoked. Their long necks allow for crushing blows to take place from unsuspecting distances.</p>
                </div>
                <div class="tabs__content text-center" x-show="tab === 't-rex'">
                    <p class="text-center">The biggest and baddest dinosaur on the island, at least at first. The T-Rex is the epitome of power and death. One swift bite is capable of ripping its victims to shreds. The typical reaction is to run, but recent testing has shown that the T-Rex can vastly outrun any human. It is highly advisable to proceed with caution if a T-Rex is thought to be in the area.</p>
                </div>
                <div class="tabs__content text-center" x-show="tab === 'bulletwolf'">
                    <p class="text-center">The Bulletwolf Ant Queen has only been known to inhabit the deepest and warmest chambers of their bulletwolf ant farms. They lay eggs at an alarming rate and have voracious appetites that never slow down. The worst part about them is they don't do the hunting and their combat capabilities are largely unknown.</p>
                </div>
                <div class="tabs__content text-center" x-show="tab === 'utah'">
                    <p class="text-center"> The Utah Raptor is the velociraptor's big older brother, as they are taller, heftier, and wield longer claws. These factors alone make this an intimidating foe all by themselves, but of course the Utah Raptor happens to be a pack hunter.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FOP SECTION -->
    <section id="fop" class="section py-120">
        <div class="container">
            <div class="flex-row between">
                <div class="fop__left text-center">
                    <div class="mb-80">
                        <h2 class="text-4xl mb-40 underline">Field Operative Program</h2>
                        <p>As a field operative, you will get access to exclusive content about the development of Creatures of War</p>
                    </div>
                    <form action="" class="fop__form mb-40">
                        <input type="email" placeholder="Enter Your Email Here">
                    </form>
                    <div>
                        <h3 class="text-2xl mb-10">Become a Field Operative!</h3>
                        <p class="text-sm">By becoming a Field Operative, you agree to our Privacy Policy (<a href="/">that you can read here</a>).</p>
                    </div>
                </div>
                <img src="" alt="" class="fop__image">
            </div>
        </div>
    </section>

    <!-- WISHLIST SECTION -->
    <section id="wishlist" class="section py-120">
        <div class="container">
            <h2 class="text-5xl text-center mb-40">Wishlist Here!</h2>
            <div class="wishlist__wrapper">
                <a href="/" class="wishlist__col text-center">
                    <h3 class="text-3xl mb-40">Epic Games Store</h3>
                    <img src="/img/epic-games-logo.svg" alt="Epic Games logo" class="logo">
                </a>
                <a href="/" class="wishlist__col text-center">
                    <h3 class="text-3xl mb-40">Steam</h3>
                    <img src="/img/steam-logo.svg" alt="Steam logo" class="logo">
                </a>
                <a href="/" class="wishlist__col text-center">
                    <h3 class="text-3xl mb-40">Humble-Bundle</h3>
                    <img src="/img/humble-bundle-logo.svg" alt="Humble Bundle logo" class="logo">
                </a>
            </div>
        </div>
    </section>

    <!-- SOCIAL SECTION -->
    <section id="social" class="section py-120">
        <div class="container">
            <ul class="circle-container">
                <li><img src="/img/discord-logo-purple.svg" alt="Discord logo"></li>
                <li><img src="/img/instagram-logo.svg" alt="Instagram logo"></li>
                <li><img src="/img/twitch-logo.svg" alt="Twitch logo"></li>
                <li><img src="/img/twitter-logo.svg" alt="Twitter logo"></li>
                <li><img src="/img/facebook-logo.svg" alt="Facebook logo"></li>
                <li><img src="/img/tiktok-logo.svg" alt="TikTok logo"></li>
                <li><img src="/img/youtube-logo.svg" alt="YouTube logo"></li>
                <li><img src="/img/reddit-logo.svg" alt="Reddit logo"></li>
            </ul>
        </div>
    </section>

    <!-- DEVLOG SECTION -->
    <section id="devlog" class="section py-120">
        <div class="container">
            <h2 class="text-5xl text-center mb-40">Devlog</h2>
            <div class="devlog__featured__wrapper mb-80">
                {{ range first 1 ( where ( where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true) }}
                <div class="devlog__featured flex-row between">
                    {{ with .Params.image }}
                    <img src="/" alt="">
                    {{ end }}
                    <div class="devlog__featured__right">
                        <h3 class="text-3xl mb-10">{{ .Title }}</h3>
                        <p>{{ .Summary }}</p>
                    </div>
                </div>
                {{ end }}
                <div class="devlog__recent flex-row between">
                    {{ range first 4 ( where ( where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" false) }}
                    <div class="devlog__recent__post">
                        {{ with .Params.image }}
                        <img src="" alt="">
                        {{ end }}
                        <div class="devlog__recent__bottom">
                            <h4 class="text-2xl">{{ .Title }}</h4>
                            <p> {{ .Summary }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="flex-row center">
                <a href="/devlog" class="btn btn--large">Full Devlog</a>
            </div>
        </div>
    </section>

    <!-- INFO SECTION -->
    <section id="info" class="section py-120">
        <div class="container">
            <h2 class="text-4xl text-center mb-20">Creatures Of War</h2>
            <p class="text-base text-center mb-40">Available on</p>
            <div class="info__wrapper mb-80">
                <a href="/" class="info__col text-center">
                    <h3 class="text-xl mb-40">Epic Games Store</h3>
                    <img src="/img/epic-games-logo.svg" alt="Epic Games logo" class="logo">
                </a>
                <a href="/" class="info__col text-center">
                    <h3 class="text-xl mb-40">Steam</h3>
                    <img src="/img/steam-logo.svg" alt="Steam logo" class="logo">
                </a>
                <a href="/" class="info__col text-center">
                    <h3 class="text-xl mb-40">Humble-Bundle</h3>
                    <img src="/img/humble-bundle-logo.svg" alt="Humble Bundle logo" class="logo">
                </a>
            </div>
            <p class="text-base text-center mb-40">Genre: Survival Horror Approximate RD: 3/24/23</p>
            <p class="text-base text-center mb-40">Players: 1 Rating: Not Yet Rated</p>
            <div class="flex-row between wrap">
                <img src="/img/youtube-logo.svg" alt="YouTube logo" class="logo--small">
                <img src="/img/twitter-logo.svg" alt="Twitter logo" class="logo--small">
                <img src="/img/reddit-logo.svg" alt="Reddit logo" class="logo--small">
                <img src="/img/discord-logo-purple.svg" alt="Discord logo" class="logo--small">
                <img src="/img/instagram-logo.svg" alt="Instagram logo" class="logo--small">
                <img src="/img/twitch-logo.svg" alt="Twitch logo" class="logo--small">
                <img src="/img/tiktok-logo.svg" alt="TikTok logo" class="logo--small">
                <img src="/img/facebook-logo.svg" alt="Facebook logo" class="logo--small">
            </div>
        </div>
    </section>

    <!-- FOP MODAL -->
    {{ partial "modal.html" . }}

{{ end }}