#hero {
    height: 67.5rem;
    background-image: url('/img/cover-image.webp');
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .flex-col {
        align-items: normal;
    }

}

#hero, #values, #fop, #wishlist, #social, #devlog {
    border-bottom: 1px solid #ffffff;
} 

.hero__discord, .hero__fop {
    background-color: $gray-900;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;   
    padding: 3.75rem 2.5rem;
    border-radius: 0.5rem;

    @include breakpointsDown(medium) {
        width: 100%;
    }

    @include breakpointsUp(medium) {
        min-width: 40%;
    }

    .logo {
        width: 5rem;
    }

}

.hero__discord {
    @include breakpointsDown(medium) {
        margin-bottom: 2.5rem;
    }
}

.hero__wrapper {
    width: 100%;
    @include breakpointsDown(medium) {
        @include flexColumn(flex-start, center);
    }
    @include breakpointsUp(medium) {
        @include flexRow(space-between, center);
    }
}

.features__left, .features__right, .features__image, .fop__left, .fop__image {
    @include breakpointsUp(medium) {
        width: 50%;
    }
}

.features__left {
    @include breakpointsUp(medium) {
        padding-right: 2rem;
    }
}

.features__right {
    @include breakpointsUp(medium) {
        padding-left: 2rem;
    }
}

.values__wrapper, .wishlist__wrapper, .info__wrapper {
    @include breakpointsUp(medium) {
        @include flexRow(space-between, flex-start);
    }
}

.values__col, .wishlist__col, .info__col {
   padding: 1.25rem;
    @include breakpointsUp(medium) {
        width: 33%;
    }
}

.fop__left {
    @include breakpointsUp(medium) {
        padding-right: 2rem;
    }
}

.fop__form {
    width: 100%;
    padding: 1.5rem;
    background-color: $black;
}

input[type="email"] {
    width: 100%;
    height: 3rem;
    background-color: $black;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.5);
    padding-left: 1.5rem;
}

.wishlist__col, .info__col {
    @include flexColumn(center, center);

}

.wishlist__col {
    
    .logo {
        height: 15rem; // 240px
    }

}

.circle-container {
    @include on-circle($item-count: 8, $circle-size: 20rem, $item-size: 6rem);
    margin: 5rem auto 0;
    border: solid 5px white;

    img {
        display: block;
        max-width: 100%;
    }

}

.info__col {

    .logo {
        height: 7.5rem ;//  120px
    }

}

.logo--small {
    height: 2.5rem;
}

.tabs__navigation {
    flex-wrap: wrap;
    @include flexRow(center, center);

    > a {
        font-size: 1.875rem;
        padding: 2.5rem;
        cursor: pointer;
    }

}

.tabs__content {

    @include flexColumn(center, center);

    > p {
        max-width: 65ch;
    }

}