.content__wrapper {
    max-width: 65ch;
    margin: 0 auto;

    p {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

    }
}