#header {
    position: fixed;
    z-index: 900;
    top: 0; right: 0; left: 0;
}

.navigation {
    height: 3.75rem;
    @include flexRow(center, center);

    .logo {
        margin-left: 1.25rem;
        height: 2rem;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.65;
        }

    }

    .navigation__brand {
        flex-shrink: 0;
    }

    .navigation__hamburger {
        cursor: pointer;
    }

    .hamburger, .close {
        height: 2rem;
        width: 2rem;
    }

    &.border-b {
        border-bottom: 1px solid #fff;
    }

    &.black {
        background-image: linear-gradient(to bottom, rgba($gray-900, 1.0), rgba($gray-900, 0.0) 90%);
        backdrop-filter: blur(4px) saturate(110%);
    }

}

.nav-logo {
    width: auto; height: 2.5rem;
    flex-shrink: 0;

    @include breakpointsUp(medium) {
        height: 2.5rem;
    }

    @include breakpointsUp(large) {
        height: 3rem;
    }
    
}

.nav-text {
    font-size: 1.25rem;
    line-height: 1;
    flex-shrink: 1;

    @include breakpointsUp(medium) {
        font-size: 1.5rem;
    }

    @include breakpointsUp(large) {
        font-size: 1.875rem;
    }

}

.navigation__overlay {
    position: fixed;
    z-index: 950;
    top: 0; right: 0; bottom: 0; left: 0;
    display: grid;
    place-items: center;
    width: 100vw; height: 100vh;
    background-color: rgba(24, 24, 24, 0.85);
    backdrop-filter: blur(4px) saturate(110%);

    button {
        position: absolute;
        top: 0; right: 0;
        margin: 2.5rem;
    }

}

.navigation__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        margin: 2.5rem 0;
    }

}