.with-sidebar {
    
    section {
        border-bottom: 1px solid $white;
    }

    @include breakpointsUp(medium) {
        display: flex;
        height: 100vh;
        width: 90%;
        max-width: 73.125rem; // 1170px
        overflow: hidden;
    }

}

main {

    @include breakpointsUp(medium) {
        flex: 1 1 auto;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    
        &::-webkit-scrollbar {
            display: none;
        }

    }

    
}



.images__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: row;
}

.logo--small {
    margin: 1.25rem;
}